apiVersion: v1
kind: Service
metadata:
  name: {{ include "wordpress.fullname" . }}-mariadb
  labels:
    app: mariadb
spec:
  type: ClusterIP
  ports:
  - port: 3306
    targetPort: mysql
    name: mysql
  selector:
    app: mariadb
